body{
    background-color: #41B3A3;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}
.results{
    background-color: #E27D60;
    display: flex;
    width: 800px;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.score{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.computer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board1{
    height: 50px;
    background-color: #E8A87C;
    width: 395px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    border-radius: 8px;
}
.board2{
    height: 50px;
    background-color: #E8A87C;
    width: 395px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    font-size: larger;
}
.choice{
    display: flex;
    gap: 10px;
}
button {
  background-color: #E8A87C;
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 200px;
  width:260px;
}
button:hover{
    background-color: #bb8662;
}
.conclusion{
    height: 50px;
    width: 100%;
    background-color: #C38D9E;
    margin-top: 20px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}